name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      # Cache Yarn packages to reduce install time
      - uses: c-hive/gha-yarn-cache@v1
      # Run install and test
      - run: yarn install
      - name: Run tests with coverage
        if: ${{ github.event_name == 'pull_request' }}
        uses: hayuna/jest-reporter-action@v0.1.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          test-command: yarn test --coverage
      - name: Run tests
        if: ${{ github.event_name != 'pull_request' }}
        run: yarn test
