# This should run all tests in the repository
#
# At some point we should update this to run only certain tests depending
# on the code that was changed in the PR. But run the whole thing on master
name: Unit tests

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: '16'
      # Cache Yarn packages to reduce install time
      - uses: c-hive/gha-yarn-cache@v1
      # Run install and test
      - run: yarn install
      - run: yarn run build:libs
      # - name: Run tests with coverage
      #   if: ${{ github.event_name == 'pull_request' }}
      #   uses: hayuna/jest-reporter-action@v0.1.4
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     test-command: yarn test --coverage --ci --silent
      - name: Run tests
        if: ${{ github.event_name != 'pull_request' }}
        run: yarn test
